<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

       <!-- Transport -->
       <bean id="connectionModel" class="com.antowka.stm.services.WsConnections" />

       <bean id="webSocketController" class="com.antowka.stm.common.WebSocketController">
              <property name="mainController" ref="mainController" />
              <property name="wsConnections" ref="connectionModel" />
       </bean>


      <!-- Controllers -->
      <bean id="userController" class="com.antowka.stm.controllers.UserController" />
      <bean id="taskController" class="com.antowka.stm.controllers.TaskController" />

      <!-- Entities -->


       <!-- Only business logic -->
       <bean id="mainController" class="com.antowka.stm.controllers.MainController">
              <property name="wsConnections" ref="connectionModel" />
              <property name="rabbitTemplate" ref="amqpTemplate" />
       </bean>

</beans>